<div>
    <div class="row pad-t-b-100" ng-if="!loggedInStatus">
        <form class="login-form text-center">
            <p class="color-a large-font">You need to Sign in to access further details</p>
            <button type="submit" ng-click="onSignInClick()" class="btn btn-lg btn-primary btn-15 pad-l-r-40 center mar-t-20">Sign in</button>
            <span class="pad-t-b-10 block text-center xs-font ">Don't have an account?
                <a class="link cursor-pointer" ng-click="onSignUpClick()">Signup</a></span>
        </form>
    </div>
    <div class="row" ng-if="loggedInStatus">
        <div class="border-container my-profile col-md-24">
            <div class="media">
                <div class="media-left media-middle">
                    <a>
                        <img class="media-object" src="dist/img/profile-img.jpg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <p class="heading">{{profileObj.applicantDetailObj.applicantName}}
                        <a ng-click="onEditProfileClick()" class="pull-right cursor-pointer"><span class="icon-pencil"></span></a>
                    </p>
                    <p class="large-font">
                        <span>
                            {{profileObj.applicantDetailObj.employmentHistoryDetails[0].designationName}}
                        </span>
                        <span ng-if="profileObj.applicantDetailObj.employmentHistoryDetails[0].designationName && profileObj.applicantDetailObj.employmentHistoryDetails[0].employerName">
                            at
                        </span>
                        <span>
                            {{profileObj.applicantDetailObj.employmentHistoryDetails[0].employerName}}
                        </span>
                    </p>
                    <p class="color-8">{{profileObj.applicantDetailObj.applicantCity}}</p>
                    <p class="pad-t-b-10" ng-if="profileObj.applicantDetailObj.employmentHistoryDetails[0].employerName">
                        <span class="xs-font color-9 inline-block wid-70">
                            Current
                        </span>
                        <span class="med-font mar-l-20">
                            {{profileObj.applicantDetailObj.employmentHistoryDetails[0].employerName}}
                        </span>
                    </p>
                    <p ng-if="profileObj.applicantDetailObj.employmentHistoryDetails[1]">
                        <span class="xs-font color-9 inline-block wid-70">
                            Previous
                        </span>
                        <span class="med-font mar-l-20">
                            {{profileObj.applicantDetailObj.employmentHistoryDetails[1].employerName}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="view-profile-container" style="display: none;">
                <hr class="color-d">
                <div>
                    <p class="heading2">Experience</p>
                    <span ng-repeat="item in profileObj.applicantDetailObj.employmentHistoryDetails">
                        <div class="row">
                            <div class="col-md-24">
                                <p class="heading3">{{item.designationName}}</p>
                                <p class="color-9">{{item.employerName}}</p>
                                <p class="pad-t-b-5 color-9" ng-if="item.employerFromDate || item.employerToDate">
                                    {{item.employerFromDate}} - {{item.employerToDate}}
                                </p>
                                <!--<a href="#" class="link">Add Description ?</a>-->
                            </div>
                        </div>
                        <hr class="e" ng-if="$index < profileObj.applicantDetailObj.employmentHistoryDetails.length-1">
                    </span>
                </div>
                <hr class="color-d">
                <div>
                    <p class="heading2">Education</p>
                    <span ng-repeat="item in profileObj.applicantDetailObj.educationDetails">
                        <div class="row">
                            <div class="col-md-24">
                                <p class="heading3">
                                    {{item.degree.name}} <span ng-if="item.institute">- {{item.institute}}</span>
                                </p>
                                <p class="color-9">
                                    {{item.branch.name}} <span ng-if="item.grade">- {{item.grade}}</span>
                                </p>
                                <p class="pad-t-b-5 color-9">Year of Passing - {{item.yearOfPassing}}</p>
                                <!--<a href="#" class="link">Add Description ?</a>-->
                            </div>
                        </div>
                        <hr class="e" ng-if="$index < profileObj.applicantDetailObj.educationDetails.length-1">
                    </span>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-24">-->
                        <!--<p class="heading3">M.Com</p>-->
                        <!--<p class="color-9">ABC Software</p>-->
                        <!--<p class="pad-t-b-5 color-9">2016 - Present (Less than 1 year) | Pune Area, India</p>-->
                        <!--<a href="#" class="link">Add Description ?</a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="well well-sm view-profile-btn" ng-click="onViewFullProfile()">View Full Profile <span class="icon-chevron-thin-down"></span></div>
        </div>
        <div class="border-container my-profile col-md-24 mar-t-20" oc-lazy-load="['simpleFileUpload']">
            <p class="large-font color-9">My Resume</p>
            <div class="docs-attached" ng-if="profileObj.applicantDetailObj.applicantOriginalDocPath">
                <span class="icon-document-file-pdf"></span>
                <p class="cursor-pointer" ng-click="downloadFile(profileObj.applicantDetailObj.applicantOriginalDocPath)">
                    {{profileObj.applicantDetailObj.applicantOriginalDocPath}}
                </p>
                <div class="pull-right l-h-40">
                    <!--<span class="date">12 Oct 2015</span>-->
                    <!--<span class="icon-trash-can" onclick="confirm('Are you sure?')"></span>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-24 mar-t-20">
                    <div class="media update-resume">
                        <input type="file" ng-model="profileObj.updateResumeObj" simple-file-upload/>
                        <div class="media-left media-middle">
                            <a>
                                <span class="icon-inbox-upload"></span>
                            </a>
                        </div>
                        <div class="media-body">
                            <p class="heading" ng-if="!profileObj.updateResumeObj[0].name">Update Resume</p>
                            <p class="heading" ng-if="profileObj.updateResumeObj[0].name">{{profileObj.updateResumeObj[0].name}}</p>
                            <p class="color-a">Supported file format .pdf, .doc, .docx<br>You can <a href="#" class="link underline">browse &amp; choose file</a> </p>
                        </div>
                    </div>
                </div>
                <a class="link-btn btn-15 pull-right pad-l-r-40 cursor-pointer" ng-click="onUpdateResumeClick()">Update Resume</a>
                <!--<div class="col-md-12 mar-t-20">-->
                    <!--<div class="media update-resume">-->
                        <!--<div class="media-left media-middle">-->
                            <!--<a href="#">-->
                                <!--<span class="icon-linkedin"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<p class="heading">Update from Linkedin</p>-->
                            <!--<p class="color-a">You can directly import your resume<br> from Linkedin <a href="#" class="link underline">Click here</a> </p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <p class="large-font color-9 mar-t-20">Documents</p><p class="color-a">(max 5 MB) Supported file format .pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .txt, .zip,.rar, jpg, jpeg</p>
            <div class="label-input-file col-md-21">
                {{profileObj.attachFileObj[0].name}}
                <input type="file" class="form-control" ng-model="profileObj.attachFileObj" simple-file-upload/>
                <a class="link-btn btn-15-darkgrey pull-right pad-l-r-40" href="#">Browse</a>
            </div>
            <a class="link-btn btn-15 pull-right pad-l-r-40 cursor-pointer" ng-click="onAddDocumentsClick()">Add</a>

            <div class="docs-attached" ng-repeat="item in profileObj.attachmentsObj">
                <span class="icon-document-certificate"></span>
                <p class="cursor-pointer" ng-click="downloadFile(item.relativeFilePath)">{{item.originalFileName}}</p>
                <div class="pull-right l-h-40">
                    <span class="date">{{item.dateCreated}}</span>
                    <!--<span class="icon-trash-can" onclick="confirm('Are you sure?')"></span>-->
                </div>
            </div>
            <!--<div class="docs-attached">-->
                <!--<span class="icon-award"></span>-->
                <!--<p>C-Dac (DACA)</p>-->
                <!--&lt;!&ndash;<div class="pull-right l-h-40">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="icon-trash-can" onclick="confirm('Are you sure?')"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <!--<script>-->
        <!--jQuery.noConflict();-->
        <!--jQuery(document).ready(function($) {-->
            <!--$('.view-profile-btn').click(function(){-->
                <!--$('.view-profile-container').slideToggle();-->
                <!--$('.view-profile-btn span').toggleClass('icon-chevron-thin-up');-->
            <!--});-->
        <!--});-->
    <!--</script>-->
</div>