<div class="row" oc-lazy-load="['myValidation']">
    <form name="signUpForm" my-validation novalidate class="login-form">
        <div class="row pad-t-b-20">
            <div class="col-md-18">
                <a class="cursor-pointer" ng-click="onBackButtonClick()">&lt; Back</a>
            </div>
        </div>
        <div class="border-container">
            <a href="#" class="btn-linkedin">
                <span class="icon-linkedin"></span>
                Sign in with <span>Linkedin</span>
            </a>
            <a href="#" class="btn-fb">
                <span class="icon-facebook"></span>Sign in with <span>Facebook</span>
            </a>
            <div class="col-md-24 text-center pad-t-b-10">OR</div>
            <div>
                <label class="sr-only">Full Name</label>
                <input name="fullName" type="text"
                       ng-model="signUpObj.name"
                       err-msg-required="Please enter your name"
                       placeholder="Full Name"
                       class="form-control"
                       autofocus required>
            </div>
            <div>
                <label class="sr-only">Email address</label>
                <input name="email" type="text"
                       pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                       ng-model="signUpObj.email"
                       err-msg-required="Please enter your email id"
                       err-msg-pattern="Plesae enter valid email id"
                       placeholder="Email Id"
                       class="form-control"
                       required>
            </div>
            <div>
                <label class="sr-only">Password</label>
                <input name="password" type="password"
                       ng-model="signUpObj.password"
                       err-msg-required="Please enter your password"
                       placeholder="Password"
                       class="form-control"
                       required>
            </div>
            <div>
                <label class="sr-only">Confirm Password</label>
                <input name="confirmPassword" type="password"
                       compare-to="signUpObj.password"
                       ng-model="signUpObj.confirmPassword"
                       err-msg-required="Please enter confirm password"
                       err-msg-compareto="Your password is not matching"
                       placeholder="Confirm Password"
                       class="form-control"
                       required>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-15 btn-block" ng-click="signUpClick()">Sign up</button>
        </div>
    </form>
</div>