@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300,700);
$base-font: 'Roboto', sans-serif;   /* Base font for whole Application */


// Colors
$base-color: #666;   /* Base color */
$base-active-color: #0cb387;   /* Base Active color */
$base-hover-color: #2bcea2;
$base-light: #B7E8DB;
$grey-0: #f1f1f1;
$grey-1: #f8f8f8;
$grey-2: #ededed;
$grey-3: #ededed;
$grey-4: #a4a4a4;
$grey-5: #CCC;
$grey-6: #888;
$grey-7: #bbb;
$grey-8: #666;
$grey-9: #aaa;
$grey-10: #ddd;
$grey-11: #999;
$grey-12: #c7c7c7;
$grey-13: #e7e7e7;
$grey-14: #444;
$grey-15: #EEE;
$grey-16: #f6f6f6;
$grey-17: #777;
$linkedin-bg: #0E77B3;
$linkedin-bg-hover: #085f9b;
$fb-bg: #3C5996;
$fb-bg-hover: #2a4784;
$red-light: #fb5c5c;
$highlight: #FFFCF2;
$green: #ACDD95;
$pink: #F4B2AC;
$bt-default: #66afe9;


// Elements Height
$base-height: 30px;
$btn-social-height: 40px;

// Border Radius for all buttons and links
$base-border-radius: 2px;

// Font Size
$xs-font-size: 12px;
$s-font-size: 13px;
$sm-font-size: 14px;
$med-font-size: 15px;
$m-font-size: 16px;
$large-font-size: 18px;
$l-font-size: 24px;
$xl-font-size: 30px;
$pdf-icon-font: 28px;
$upload-icon-font: 50px;



