<div class="row" oc-lazy-load="['myValidation']">
    <form name="loginForm" my-validation novalidate class="login-form">
        <div class="row pad-t-b-20">
            <div class="col-md-18">
                <a class="cursor-pointer" ng-click="onBackButtonClick()">&lt; Back</a>
            </div>
        </div>
        <div class="border-container">
            <a href="#" class="btn-linkedin"><span class="icon-linkedin"></span>Sign in with <span>Linkedin</span></a>
            <a href="#" class="btn-fb"><span class="icon-facebook"></span>Sign in with <span>Facebook</span></a>
            <div class="col-md-24 text-center pad-t-b-10">OR</div>
            <div>
                <label class="sr-only">Work ID</label>
                <input type="text" name="userId"
                       pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                       ng-model="loginObj.email"
                       err-msg-required="Please enter your email id"
                       err-msg-pattern="Plesae enter valid email id"
                       placeholder="Email Id"
                       class="form-control"
                       autofocus required>
            </div>
            <div>
                <label class="sr-only">Password</label>
                <input type="password" name="password"
                       ng-model="loginObj.password"
                       err-msg-required="Please enter your password"
                       placeholder="Password"
                       class="form-control"
                       required>
            </div>

            <a ng-click="onForgotPasswordClick()" class="link xs-font pad-t-b-10 block cursor-pointer">Forgot your password?</a>
            <button type="submit" class="btn btn-lg btn-primary btn-15 btn-block" ng-click="onLoginClick()">Sign in</button>
            <span class="pad-t-b-10 block text-center xs-font">Don't have an account? <a ng-click="onSignUpLinkClick()" class="link cursor-pointer">Signup</a></span>
        </div>
    </form>
</div>