<div>
    <div oc-lazy-load="['applicantModel', 'createDynamicFields']">
        <form name="userProfileForm">
            <create-dynamic-fields fields-obj="fieldsObj.dynamicFieldDTO">

            </create-dynamic-fields>
        </form>
    </div>
    <a class="link-btn btn-15-grey pull-left pad-l-r-40 cursor-pointer" ng-click="onCancelClick()">
       <label ng-if="!fieldsObj.applicantPositionId">Cancel</label>
       <label ng-if="fieldsObj.applicantPositionId">Previous</label>
    </a>
    <a class="link-btn btn-15 pull-right pad-l-r-40 cursor-pointer" ng-click="onUpdateApplicantClick()">
        Submit
    </a>
</div>