<div class="row">
    <!--<div class="col-md-24 steps-wrapper">-->
        <!--<div class="col-md-12 step complete">-->
            <!--<p>-->
                <!--<span>1</span>-->
                <!--<span>Upload Resume</span>-->
            <!--</p>-->
            <!--<div class="pull-right"></div>-->
        <!--</div>-->
        <!--<div class="col-md-12 text-right step active">-->
            <!--<p class="pull-right">-->
                <!--<span>2</span>-->
                <!--<span>Application Form</span>-->
            <!--</p>-->
            <!--<div class="pull-left"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="border-container col-md-24 application-form" oc-lazy-load="['myValidation' , 'multipleAutocomplete', 'singleAutocomplete', 'stringToNumber', 'setModelValue']">
        <div class="form-group" ng-form name="applicantForm" my-validation>
            <div class="row">
                <p class="heading">Personal Information</p>
                <div class="row">
                    <div class="well row highlight">
                        <div class="col-xs-12">
                            <div class="label-input-text">
                                <label>Name</label>
                                <input name="userName" type="text" ng-model="userDetailObj.applicantName"
                                       ng-disabled="true"
                                       err-msg-required="Please enter your name"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="label-input-text">
                                <label>Email</label>
                                <input name="userEmail" type="text" ng-model="userDetailObj.applicantEmail1"
                                       ng-disabled="true"
                                       err-msg-required="Please enter your email id"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="label-input-text">
                                <label>Phone</label>
                                <input name="userPhone" type="text"
                                       pattern="^[0-9]*$"
                                       ng-model="userDetailObj.applicantCellPhone"
                                       err-msg-required="Please enter your mobile no"
                                       err-msg-pattern="Only digits are allowed"
                                       err-msg-number="Only digits are allowed"
                                       placeholder="Mobile Number" class="form-control" required/>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="label-input-text">
                                <label>Date of Birth</label>
                                <input name="dob" type="text" ng-model="userDetailObj.dateOfBirth"
                                       pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"
                                       err-msg-required="Please select your date of birth"
                                       err-msg-pattern="Invalid Format. Should be (DD-MM-YYYY)"
                                       class="form-control datepicker-dob" placeholder="DD-MM-YYYY"  required/>
                                <span class="icon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-24">
                    <div class="label-select-box">
                        <label>Location</label>
                        <select name="location" class="form-control" ng-model="userDetailObj.applicantCity"
                                err-msg-required="Please select your location"
                                set-model-value="locationsList"
                                ng-options="item as item.name for item in locationsList">
                            <option value="">Select Location</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-xs-2 l-h-38">-->
                    <!--<label>Gender</label>-->
                <!--</div>-->
                <!--<div class="col-xs-3 l-h-40">-->
                    <!--<input type="radio" id="test1" name="gender-radio-group" value="Male" ng-model="userDetailObj.gender" checked>-->
                    <!--<label for="test1">Male</label>-->
                <!--</div>-->
                <!--<div class="col-xs-7 l-h-40">-->
                    <!--<input type="radio" id="test2" name="gender-radio-group" value="Female" ng-model="userDetailObj.gender" checked>-->
                    <!--<label for="test2">Female</label>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Work ID</label>-->
                        <!--<input name="workId" type="text"-->
                               <!--ng-model="userDetailObj.workId"-->
                               <!--err-msg-required="Please enter your work Id"-->
                               <!--class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="row">
                <p class="heading">Professional Information</p>
                <!--<div class="col-xs-24">-->
                    <!--<div class="label-select-box">-->
                        <!--<label>HR &amp; Training</label>-->
                        <!--<select name="training" class="form-control" ng-model="userDetailObj.training">-->
                            <!--<option value="1">Java Certification</option>-->
                            <!--<option value="2">Marketing </option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-xs-24">
                    <div class="label-input-text">
                        <label>Skills</label>
                        <!--<input type="text" class="form-control" placeholder="" />-->
                        <multiple-autocomplete suggestions-arr="skillsList"
                                               object-property="name"
                                               ng-model="userDetailObj.skills">
                        </multiple-autocomplete>
                    </div>
                </div>
                <div class="col-xs-3 l-h-40">
                    <label>Current CTC</label>
                </div>
                <div class="col-xs-5">
                    <!--<div class="label-select-box pad-l-0">-->
                        <!--<select class="form-control" ng-model="userDetailObj.currentCTC">-->
                            <!--<option>8 Lacs</option>-->
                            <!--<option>Option 2</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="label-input-text">
                        <input name="currentCtc" type="text"
                               ng-model="userDetailObj.currentCTC"
                               pattern="^([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
                               err-msg-required="Please enter your current ctc"
                               err-msg-pattern="Only Digits are allowed"
                               class="form-control" placeholder="" />
                    </div>
                </div>
                <div class="col-xs-3">
                    SGD
                </div>
                <div class="col-xs-12">
                    <div class="label-input-text">
                        <label>Notice Period</label>
                        <input name="noticePeriod" type="text" class="form-control"
                               pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"
                               err-msg-pattern="Only digits & positive numbers are allowed"
                               ng-model="userDetailObj.noticePeriod"
                               placeholder="Notice period in days" />
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="heading">Work Experience</p>
                <div ng-repeat="item in userDetailObj.employmentHistoryDetails">
                    <div class="col-xs-24">
                        <div class="label-input-text">
                            <label>Company Name</label>
                            <input name="company{{$index}}" type="text" class="form-control"
                                   ng-model="item.employerName"
                                   placeholder="" />
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="label-input-text">
                            <label>Designation</label>
                            <input name="designation{{$index}}" type="text"
                                   ng-model="item.designationName"
                                   class="form-control" placeholder="" />
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="label-input-text">
                            <label>From</label>
                            <input name="fromDate{{$index}}" type="text" class="form-control datepicker"
                                   ng-model="item.employerFromDate"
                                   placeholder="" />
                            <span class="icon-calendar"></span>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="label-input-text">
                            <label>To</label>
                            <input name="toDate{{$index}}" type="text"
                                   date-greater-than="item.employerFromDate"
                                   err-msg-dategreaterthan="to date can't be less than from date"
                                   class="form-control datepicker"
                                   ng-model="item.employerToDate"
                                   placeholder=""/>
                            <span class="icon-calendar"></span>
                        </div>
                    </div>
                    <div class="col-xs-24">
                        <input type="button" ng-if="$index > 0"
                               ng-click="removeCompany(item)"
                               class="form-control"
                               value="+Remove Company" />
                        <input type="button" ng-if="$index == userDetailObj.employmentHistoryDetails.length-1"
                               class="form-control"
                               ng-click="addCompany(item)"
                               value="+Add Company" />
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="heading">Education</p>
                <div ng-repeat="item in userDetailObj.educationDetails">
                    <div class="col-xs-8">
                        <div class="label-select-box">
                            <label>Year</label>
                            <select name="yearOfPassing{{$index}}" class="form-control"
                                    ng-model="item.yearOfPassing"
                                    set-model-value="yearsList"
                                    ng-options="item for item in yearsList">
                                <option value="">Select Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="label-select-box">
                            <label>Degree</label>
                            <select name="degree{{$index}}" class="form-control"
                                    ng-model="item.degree"
                                    set-model-value="degreeList"
                                    ng-options="item as item.name for item in degreeList">
                                <option value="">Select Degree</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="label-select-box">
                            <label>Branch</label>
                            <select name="branch{{$index}}" class="form-control"
                                    ng-model="item.branch"
                                    set-model-value="branchList"
                                    ng-options="item as item.name for item in branchList">
                                <option value="">Select Branch</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-24">
                        <input type="button" ng-if="$index > 0"
                               ng-click="removeEducation(item)"
                               class="form-control"
                               value="+Remove Education" />
                        <input type="button" ng-if="$index == userDetailObj.educationDetails.length-1"
                               class="form-control"
                               ng-click="addEducation(item)"
                               value="+Add Education" />
                    </div>
                </div>
                <div class="col-xs-24">
                    <div class="label-input-text">
                        <label>Note</label>
                        <input name="note" type="text" class="form-control"
                               ng-model="userDetailObj.note"
                               placeholder="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button type="submit" class="btn btn-lg btn-15 pull-right">Next</button> -->
    <!--<a class="link-btn btn-15-grey pull-left pad-l-r-40">Previous</a>-->
    <!--<a href="#" class="link-btn btn-15 pull-right pad-l-r-40">Submit</a>-->
</div>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        $.fn.datepicker.defaults.format = "dd-mm-yyyy";
        $.fn.datepicker.defaults.autoclose = true;
        $(document).on('click', '.icon-calendar', function() {
            $('.datepicker').datepicker();
            $('.datepicker-dob').datepicker({
                endDate:'-5y'
            });
            $(this).prev().datepicker("show");
            $('.datepicker-inline').remove();
        });
    });
</script>