<div class="row">
    <div class="col-md-24 steps-wrapper">
        <div class="col-md-12 step complete">
            <p>
                <span>1</span>
                <span>Upload Resume</span>
            </p>
            <div class="pull-right"></div>
        </div>
        <div class="col-md-12 text-right step active">
            <p class="pull-right">
                <span>2</span>
                <span>Application Form</span>
            </p>
            <div class="pull-left"></div>
        </div>
    </div>
    <div oc-lazy-load="['userInfoForm', 'applicantModel']">
        <user-info-form user-detail-obj="applyToPositionObj.userDetailObj" is-form-valid="formObj"
                        locations-list="locationsList" skills-list="skillsList"
                        branch-list="branchList" degree-list="degreeList">
        </user-info-form>
    </div>
    <!--<div class="border-container col-md-24 application-form">-->
        <!--<div class="form-group">-->
            <!--<div class="row">-->
                <!--<p class="heading">Personal Information</p>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Name</label>-->
                        <!--<input type="text" class="form-control" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Email</label>-->
                        <!--<input type="text" class="form-control" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Phone</label>-->
                        <!--<input type="text" placeholder="" class="form-control" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Date of Birth</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Location</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="col-xs-4 l-h-38">-->
                        <!--<label>Gender</label>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6 l-h-40">-->
                        <!--<input type="radio" id="test1" name="radio-group" checked>-->
                        <!--<label for="test1">Male</label>-->
                    <!--</div>-->
                    <!--<div class="col-xs-14 l-h-40">-->
                        <!--<input type="radio" id="test2" name="radio-group" checked>-->
                        <!--<label for="test2">Female</label>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Work ID</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="heading">Professional Information</p>&ndash;&gt;-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Domain</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Skills</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="col-xs-8">-->
                        <!--<label>Current CTC</label>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8">-->
                        <!--<select>-->
                            <!--<option>8 Lacs</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-xs-8">-->
                        <!--<select>-->
                            <!--<option>5K</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Notice Period</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<p class="heading">Work Experience</p>-->
                <!--<div class="col-xs-24">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Company Name</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Designation</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>From</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>To</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-24">-->
                    <!--<input type="button" class="form-control" value="+Add Company" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<p class="heading">Education</p>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Year</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Degree</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-8">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Branch</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-24">-->
                    <!--<input type="button" class="form-control" value="+Add Company" />-->
                <!--</div>-->
                <!--<div class="col-xs-24">-->
                    <!--<div class="label-input-text">-->
                        <!--<label>Note</label>-->
                        <!--<input type="text" class="form-control" placeholder="" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- <button type="submit" class="btn btn-lg btn-15 pull-right">Next</button> -->
    <a class="link-btn btn-15-grey pull-left pad-l-r-40 cursor-pointer" ng-click="onApplicationFormBack()">Previous</a>
    <a class="link-btn btn-15 pull-right pad-l-r-40 cursor-pointer" ng-click="onApplicationFormSubmit()">Submit</a>
</div>