<div class="row">
    <div class="col-md-24 steps-wrapper">
        <div class="col-md-12 step complete">
            <p>
                <span>1</span>
                <span>Upload Resume</span>
            </p>
            <div class="pull-right"></div>
        </div>
        <div class="col-md-12 text-right step active">
            <p class="pull-right">
                <span>2</span>
                <span>Application Form</span>
            </p>
            <div class="pull-left"></div>
        </div>
    </div>
    <div oc-lazy-load="['userInfoForm', 'applicantModel']">
        <user-info-form fields-obj="applyToPositionObj.userDetailObj"
                        submit-callback="callbackFn"
                        cancel-callback="onApplicationFormBack">
        </user-info-form>
    </div>
    <!--<a class="link-btn btn-15-grey pull-left pad-l-r-40 cursor-pointer" ng-click="onApplicationFormBack()">Previous</a>-->
    <!--<a class="link-btn btn-15 pull-right pad-l-r-40 cursor-pointer" ng-click="onApplicationFormSubmit()">Submit</a>-->
</div>