<div class="clearfix">
    <span class="form-heading">{{item.displayName}}<span class="asterisk"  ng-if="item.required">*</span></span>
    <div ng-repeat="itemsArr in item.subFields">
        <!--<div class="panel panel-default">-->
            <div ng-repeat="item in itemsArr">
                <!-- Main cover Template-->
                <div ng-include="'app/directives/create-dynamic-fields/dynamic-field-templates/main-cover-tpl.html'"></div>
            </div>
       <!-- </div>-->
        <div class="row m-b-10 m-t-10">
            <span ng-if="$index == item.subFields.length-1"
               class="cursor-pointer pull-left grey-btn mar-l-8"
               ng-click="addMoreClick(itemsArr, item.subFields, item.noOfRows)"><span class="icon-add1"></span> Add more
            </span>
            <span ng-if="$index != 0"
               class="cursor-pointer pull-right mar-r-8"
               ng-click="removeItemClick(itemsArr, item.subFields)"><span class="icon-trash-can"></span></span>
        </div>
        <hr>
    </div>
</div>