<div class="clearfix">
    <div>
        <label class=" f-11">{{item.displayName}}</label><span class="asterisk"  ng-if="item.required">*</span>
        <span class="cursor-pointer pull-right grey-btn mar-l-8"
            ng-click="addMoreClick(item.subFields[item.subFields.length-1], item.subFields, item.noOfRows)">
            <span class="icon-add"></span> Add more
        </span>
        <div>
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th ng-repeat="item in item.subFields[0]">
                                    {{item.displayName | uppercase}}
                                </th>
                                <th width="5%">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="itemsArr in item.subFields">
                                <td ng-repeat="item in itemsArr">
                                    <!-- Main cover Template-->
                                    <div ng-include="'/app/directives/create-dynamic-fields/dynamic-field-templates/main-cover-tpl.html'"></div>
                                </td>
                                <td class="row m-b-10 m-t-10">
                                    <!--<span ng-if="$index == item.subFields.length-1"-->
                                          <!--class="cursor-pointer pull-left grey-btn mar-l-8"-->
                                          <!--ng-click="addMoreClick(itemsArr, item.subFields, item.noOfRows)"><span class="icon-add1"></span> Add more-->
                                    <!--</span>-->
                                    <span ng-if="$index != 0"
                                          class="cursor-pointer pull-right mar-r-8"
                                          ng-click="removeItemClick(itemsArr, item.subFields)"><span class="icon-trash-can"></span></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>